.navbar {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: larger;
}

.portfolio {
    font-family: 'Roboto', sans-serif;
}

#about {
    font-family: 'Fredoka One', cursive;
}

#work {
    font-family: 'Fredoka One', cursive;
}

.card-img-overlay {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card {
    border: none;
}

img {
    max-height: 150px;
}

.container {
    padding: 5%;
}

#blackLines {
    object-fit: cover;
    height: 100%;
    margin: 0;
    padding: 0;
}

.list-group.list-group-horizontal{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.list-group.list-group-horizontal .list-group-item {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    color: rgb(0, 255, 213);
    padding-top: 30px;
    padding-bottom: 30px;;
}